
body {
  font-size: 11px;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0 auto;
}

body * {
  box-sizing: border-box;
}

.navigation_menu, .section2_menu {
  list-style: none;
  display: flex;
}

.navigation_item {
  margin-right: 47px;
}

.navigation_item_link {
  text-decoration: none;
  color: #FFFFFF;
}
h2 {
  font-family: 'Yeseva One';
  color: #E3B873;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
 
}
h3 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #E3B873;
  line-height: 25px;
  text-transform: uppercase;
  margin:0;
}

.header {
  background: #131313;
  height: 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation_button {
  display: flex;
  align-items: center;
}

.main_name {
  margin-left: 90px;
  min-width: 270px;
}

.button {
  width: 161px;
  height: 37px;
  border-style: none;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  background-color: #E3B873;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11px;
  line-height: 15px;
  color: #FFFFFF;
  /*font-style: italic;*/
  margin-right: 90px;
  margin-left: 42px;
}

.section1_block {
  background-image: url('/images/section1_background.jpg');
  background-size: cover;
  height: 707px;
  position: relative;
}

.section1_block:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
}

.yellowText {
  color: #E3B873;
}
.basetext {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  color: #363636;
}

.title {
  margin: 0;
  font-family: 'Yeseva One', Arial;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  padding-top: 194px;
  padding-left: 134px;
  width: 676px;
  position: relative;
}

.text {
  width: 505px;
  height: 89px;
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
}

.section1_elements {
  position: absolute;
  left: 134px;
}

.section1_elements .button {
  width: 207px;
  height: 51px;
  padding: 0;
  margin: 41px 0 0 0;
}
#s2_b2 {
  background-color: inherit;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  margin-left: 20px;
}

.section_2 {
  background-color: #131313;
  padding-bottom: 415px;
}

.section2_header_container {
  width: 43%;
}

.section2_header {
  display: flex;
  align-items: flex-end;
  height: 176px;
}
.section2_menu {
  margin-top: 107px0;
  margin-bottom: 52.5px;
  
  display: inline-flex;
}
.section2_menu_item {
  margin-right: 60px;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.section2_menu_item_link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}
.selected {
  color: #E3B873;
  border-bottom: solid 1px;
  padding-bottom: 6px;
}
.section2_main {
  display: flex;
}
.section_2_info {
  width: 43%;
  padding-left: 135px;
}

.section2_title {
  margin-top: 0;
  width: 253px;
}
.section2_text {
  width: 442px;
  font-size: 14px;
  line-height: 27px;
}
.section2_block_text {
  color: #FFFFFF;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  margin-top: 9px;
}

.section2_block1, .section2_block2 {
  display: flex;
}
.section2_block1 {
  margin-top: 42px;
}
.section2_info_left {
  width: 39%;
}
.section2_block2 {
  height: 120px;
  margin-top: 14px;
}
.section2_image {
  margin-left: 42px;
  height: 482px;
  width: 679px;
  background-image: url("/images/section2_image.png");
  background-size: cover;
}
.section2_pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pagination_list {
  width: 125px;
  display: flex;
  padding-left: 29.5px;
  padding-right: 29.5px;
  justify-content: space-between;
}

.dot {
  height: 9.57px;
  width: 9.57px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  display: inline-block;
}
.pagination_list span:nth-child(1) {
  background-color: #FFFFFF;
}

.section_3_block {
  margin-top: -317px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.section3_image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}
.section_3_block h3 {
  font-family: 'Yeseva One';
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.section3_video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 31px;
  width: 817px;
  height: 434px;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/images/section3_backgroundimage.png");
}

.section3_video button {
  background-color: #E3B873;
  border-radius: 50%;
  background-image: url("/images/section3_polygon.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
  width: 85px;
  height: 85px;
}

.section3_divider {
  width: 55px;
  height: 64px;
  border-bottom: solid 1.5px #E3B873;
  position: relative;
  margin: 0 auto;
}

.section3_entries {
  display: flex;
  justify-content: space-around;
  margin-bottom: 37px;
}
.section3_text {
  width: 681px;
  position: relative;
  margin: 10px auto 93px;
}
.section3_text .basetext {
  margin-bottom: 0px;
}
div[class*="section3_input"] {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
div[class*="section3_input"] p {
  text-align: left;
  margin: 0;
  height: 12px;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}
input::placeholder, label {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #363636;;
}

input[type="text"] {
  width: 231px;
  margin-top: 7px;
  padding: 2px 0 8px;
  border:none;
  border-bottom: solid 1px rgba(54, 54, 54, 0.3);
}

input:focus-visible {
  outline: none;
}

.section3_entries button {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 51px;
  background: #E3B873;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
input[type="checkbox"]+label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
}
input[type="checkbox"]+label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: solid 1px #adb5bd;
  border-radius: 1px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #fdfdfd;
}
input[type="checkbox"]:checked+label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: solid 1px #E3B873;
  border-radius: 1px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #E3B873;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.section_4_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
} 